<!-- templates/video.html -->
{% extends "base.html" %}
{% block title %}操作教學{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

    {% block content %}
    
        <!-- Masthead-->
        <div class="text-center">
        <iframe width="1000" height="600" src="https://www.youtube.com/embed/7q5fJsRWvFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- About-->
        </div>

        <!-- product picture-->
        
    
        <!-- Call to action-->
        <!-- Contact-->
       
    {% endblock content %}
